/*------------------IMPORT FONTS------------------*/
/*----DM Sans----*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
/*----Lato----*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Lato&display=swap");
/*----Roboto----*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Lato&family=Roboto&display=swap");

/*------------------VARIABLES------------------*/
:root {
  /*----Fonts----*/
  --DMSans: "DM Sans";
  --Lato: "Lato";
  --Roboto: "Roboto";
  /*----Colors----*/
  --primColor: #3282f7;
  --secondColor: #68d9a4;
  --tertColor: #ed6454;
  /*----Ellipsis----*/
  --line-h: 22px;
  --nth-lines-trunc:4;
}

/*------------------GENERAL------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1240px;
}

/*------------------HEADING------------------*/
header#heading {
  padding: 42px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header#heading .icon {
  width: 52px;
  height: 50px;
  background: url(../svg/icons.svg);
  background-repeat: no-repeat;
}
header#heading h1 {
  margin: 0;
  font-family: var(--DMSans);
  color: var(--tertColor);
}
/*----------------MAIN------------------*/
main {
  display: flex;
  flex-direction: column; 
  gap: 30px;
}
/*------------------SEARCH------------------*/
section#search {
  display: flex;
  justify-content: center;
  position: relative;
}
section#search input {
  box-sizing: border-box;
  padding: 0 20px;
  font-family: var(--Lato);
  width: 100%;
  height: 70px;
  background-color: #e7e7e7;
  color: rgb(100, 92, 92);
  border: none;
}
input[type="text"]:focus {
  outline: none;
}
section#search .search-icon {
  position: absolute;
  right: 17px;
  top: 18px;
  width: 32px;
  height: 32px;
}
/*------------------TAG-AREA------------------*/
section#tag{
  display: none;
  flex-wrap: wrap;
  position: relative;

}
.tag{
  position: relative;
  margin: 0 5px 5px 0;
  width: 135px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  background: var(--primColor);
  color: #ffffff;
  white-space: nowrap;
}

span.tagName{
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  left: 10px;
}
.fa-times-circle{
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.selected {
  display: none;
}

.unselected {
  display: block;
}


/*------------------DROPDOWN------------------*/
section#dropdown {
  display: flex;
  width: fit-content;
}
section#dropdown .button {
  position: relative;
  margin-right: 25px;
  width: 170px;
  height: 70px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
input.text-btn {
  color: #ffffff;
  background:transparent;
  width: 70%;
  border: none;
}
input.text-btn:focus{
  outline-width: 0;
}
input.text-btn::placeholder{
  color: #ffffff;
  opacity: 95%;
  position: absolute;  
}
section#dropdown button{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
section#dropdown .btn1 {
  background-color: var(--primColor);
}
section#dropdown .btn2 {
  background-color: var(--secondColor);
}
section#dropdown .btn3 {
  background-color: var(--tertColor);
}
section#dropdown .button span.text-btn {
  position: absolute;
  left: 15px;
  top: 26px;
}
.liste-tags{
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  grid-template-columns: 26.33% 26.33% 26.33%;
  gap: 8%;
  width: 660px;
  color: #ffffff;
  left: 0;
  border-radius: 0 0 5px 5px;
  height: fit-content;
  max-height: 150px;
  overflow-y: scroll;
}
.liste-tags p {
  cursor: pointer;
  width: 150px;
  margin-bottom: 10px;
}
.liste-tags p:hover{
  transform: scale(105%);
}
.button1-tag .liste-tags{
  background-color: var(--primColor);
}
.button2-tag .liste-tags{
  background-color: var(--secondColor);
}
.button3-tag .liste-tags{
  background-color: var(--tertColor);
}


section#dropdown .button .dropdown-arrow {
  position: absolute;
  right: 15px;
  top: 30px;
  cursor: pointer;
}
.returned{
  transform: rotate(180deg);
}
.not-returned{
  transform: rotate(0deg);
}

/*------------------RECIPE------------------*/
section#recipe {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 55px;
}
section#recipe article.recipe {
  width: 380px;
  border-radius: 5px;
  overflow: hidden;
  height: 364px;
  margin-bottom: 45px;
}
section#recipe .recipe__img {
  position: relative;
  height: 180px;
  background-color: #b1acac;
}
section#recipe .recipe__img i{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ffff;
  width: 45px;
  height: 45px;
  border-radius: 30px;
}
.fa-utensils:before {
  content: "\f2e7";
  position: absolute;
  left: 8px;
  top: 15px;
}

span.serving{
  position: absolute;
  top: 140px;
  right: 16px;
  font-weight: bolder;
}

section#recipe .recipe__container {
  background-color: #e7e7e7;
  padding: 20px;
}
section#recipe .recipe__header {
  font-family: var(--Lato);
  display: flex;
  justify-content: space-between;
}
section#recipe .recipe__header h2{
  font-size: 18px;
  width: 70%;
}
span.recipe__timer {
  position: relative;
  top: -4px; 
  width: 21%;
  font-weight: bold;
}
section#recipe .recipe__description {
  padding-top: 20px;
  display: flex;
  height: 180px;
}
section#recipe .recipe__description .recipe__desc__ingredients {
  width: 170px;
  font-family: var(--Lato);
  font-size: 12px;
  
}
section#recipe .recipe__description .recipe__desc__buildOrder {
  width: 172px;
  height: 82px;
  font-family: var(--Roboto);
  font-size: 12px;
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp:6;
  -webkit-box-orient: vertical;
  white-space: normal; 
}



/*------------------JAVASCRIPT-CLASS-ASSIGN------------------*/
.rotate{
  transform: rotate(180deg);
}
.dBlock{
  display: block;
}
.dNone{
  display: none;
}
